* {
    margin: 0;
    padding: 0;
    font-family: 'Gugi', cursive;
}
body {
    text-align: center;
    background-color: white;
}

.screen {
    display: none;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
    padding: 80px 100px;
    margin: 20px 20px;
    width: 1000px;
    height: 600px;
    background-color: aqua;
}

#main-menu {
    display: inline-block;
}
/* #select-stage {
}
#settings-menu {
}
#shop-menu {
} */
#shop-menu h3 {
    float: left;
}

#audioVol {
    width: 50px;
    height: 50px;
    float: left;
    background: url("./img/volOn_50x50.png");
    border: none;
}
#gold {
    width: 100px;
    float: right;
    background: yellow;
}

#start-btn {
    display: inline-block;
    margin: 50px;
    width: 400px;
    height: 200px;
    font-size: 100px;
    background-color: bisque;
    /* background: url("Start-Button.png"); */
    border: none;
}
#settings-btn, #shop-btn {
    width: 100px;
    height: 80px;
    font-size: 20px;
    background-color: bisque;
    border: none;
}
.stage-btn {
    margin: 50px;
    width: 150px;
    height: 350px;
    background: url("moon.png");
    border: none;
}
.go-back-btn {
    float: right;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url("./img/back_50x50.png");
    border: none;
}

.animateContent1 {
    animation: animate1 2s ease;
}
@keyframes animate1 {
    10% {
        transform: scale(1, 0.002);
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
}
.animateContent2 {
    animation: animate2 2s ease;
}
@keyframes animate2 {
    0% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    30% {
        transform: scale(0.2, 0.002);
    }
    90% {
        transform: scale(1, 0.002);
    }
}