* {
    margin: 0;
    padding: 0;
    font-family: 'Gugi', cursive;
}
body {
    text-align: center;
    background: url("./backimg/bgImg1.jpg");
    background-size: cover;
}

.screen {   /* 모든 화면 1000x600 사이즈 */
    display: none;
    overflow: visible;
    border-radius: 20px 20px 20px 20px;
    margin: 20px auto;
    width: 1000px;
    height: 600px;
    text-align: center;
    color: white;
}

#story-menu {
    display: inline-block;
}
#storyImg{
    width: 1000px;
    height: 600px;
}

#shop-menu h3 {
    float: left;
}

#audioVol { /* bgm 온/오프 버튼 */
    width: 50px;
    height: 50px;
    float: left;
    background: url("./img/interface/volOn_50x50.png");
    border: none;
    margin-top: 20px;
    margin-left: 20px;
}
.gold { /* 골드 수급 상황 표시 */
    width: 70px;
    float: right;
    background: yellow;
    color: black;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

#start-btn {    /* 스테이지 선택 화면으로 이동하는 버튼 */
    display: inline-block;
    margin: 50px;
    width: 463px;
    height: 100px;
    background: url("./img/interface/start_463x100.png");
    border: none;
}
#settings-btn, #shop-btn {/* 환경설정, 상점으로 이동하는 버튼 */
    border: none;
}
#settings-btn {
    width: 289px;
    height: 43px;
    background: url("./img/interface/settings_289x43.png");
}
#shop-btn {
    width: 161px;
    height: 41px;
    background: url("./img/interface/shop_161x41.png");
}

.stage-btn {
    display: inline-block;
    width: 160px;
    height: 568px;
    border: none;
}
#stgbtn1 {
    background: url("./img/interface/stage1select1.png");
}
#stgbtn2 {
    background: url("./img/interface/stage2select1.png");
}
#stgbtn3 {
    background: url("./img/interface/stage3select1.png");
}

.go-back-btn {/* 스테이지 선택 화면, 환경설정 화면, 상점 화면에서 메인 메뉴로 돌아가기 버튼 */
    /* float: right; */
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url("./img/interface/back_50x50.png");
    border: none;
}

#settings {
    width: 289px;
    height: 43px;
    background: url("./img/interface/settings_289x43.png");
}
.setting {
    margin-top: 40px;
}
.bgImg {
    border: 3px solid black;
    width: 240px;
    height: 150px;
}
#BGM, #effectSound {
    width: 50px;
    height: 50px;
    background: url("./img/interface/volOn_50x50.png");
    border: none;
}


#shop {
    width: 161px;
    height: 41px;
    background: url("./img/interface/shop_161x41.png");
}

.animateContent1 {  /* 페이지 전환 시 이전 페이지가 작아지는 효과 애니메이션 animate1을 2초간 실행 */
    animation: animate1 1s ease;
}
@keyframes animate1 {   /* 애니메이션이 0~100% 진행됨에 따라 scale(가로비율, 세로비율) 변경 */
    10% {
        transform: scale(1, 0.002);
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
}
.animateContent2 {  /* 페이지 전환 시 다음 페이지가 커지는 효과 애니메이션 animate2를 2초간 실행 */
    animation: animate2 1s ease;
}
@keyframes animate2 {
    0% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    30% {
        transform: scale(0.2, 0.002);
    }
    90% {
        transform: scale(1, 0.002);
    }
}

.pFirstRow {
    display: inline-block;
    margin: 0 50px;
}
.pSecondRow {
    display: inline-block;
    margin: 0 50px;
    margin-top: 20px;
}
.pChar {
    width: 96px;
    height: 96px;
    padding: 50px;
    border: 2px solid yellow;
    background-color: black;
}
.owned {    /*캐릭터 보유 중*/
    background-color: gray;
}
.equip {    /*캐릭터 착용 중*/
    background-color: crimson;
}

#myImage {
    opacity: 0; /* 초기에 투명하게 설정 */
    transition: opacity 0.5s; /* 페이드 인 효과를 위한 transition 설정 */
  }
  