body {
    margin: 0;
    padding: 0;
}

#screen {
	border: 1px solid black;
    position: fixed;
    top: 0;
}

#gamestart {
    position: fixed;
    width: 300px;
    height: 50px;
    font-size: 20px;
}


