body {
    margin: 0;
    padding: 0;
    background-size: cover;
}


#boss_UI3 {
    margin: 0;
    width: 1000px;
    height: 50px;
}

#boss_img3 {
    position: relative;
    float: left;
    top: 0;
    left: 0;
}

#boss_bar3 {
    float: left;
}


#player_UI3 {
    width: 1000px;
    height: 150px;
    background: url("../img/interface/player_bar.png");
}

#player_img3 {
    position: relative;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 20px;
}

#player_state3 {
    margin-top: 15px;
    position: relative;
    float: left;
    height: 50px;
}

#container3 {
    width: 948px;
    height: 15px;
    background-color: red;
    border-image: url("./img/interface/bar.png") 27;
    border-radius: 5px;
    border: 1px gray solid;
}

#bp_num3 {
    width: 940px;
    height: 20px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

#skill3 {
    float: left;
    height: 100px;
    width: 270px;
}

#skill3 div {
    width: 70px;
    height: 30px;
    float: left;
}

#skill3 div:nth-of-type(1){
    margin-left: 15px;
    margin-right: 15px;
}

#skill3 div:nth-of-type(3){
    margin-left: 15px;
    margin-right: 15px;
}


#qtimer3 {
    border: 1px solid black;
    display: none;
    width: 50px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
}

#wtimer3 {
    border: 1px solid black;
    display: none;
    width: 50px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
}

#etimer3 {
    border: 1px solid black;
    display: none;
    width: 50px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
}

#gold3 {
    width: 100px;
    height: 50px;
    margin-top: 70px;
    margin-left: 50px;
    float: left;
}
#red3 {
    margin-top: 97px;
    margin-left: 125px;
    float: left;
}
#blue3 {
    margin-top: 97px;
    margin-left: 91px;
    float: left;
}
#green3 {
    margin-top: 97px;
    margin-left: 91px;
    float: left;
}

#esc_menu3 {
    display: none;
    line-height: 250px;

}
#play3 {
    width: 300px;
    height: 100px;
    background: url("../img/interface/play.png");
    border: none;
}
#set3 {
    width: 700px;
    height: 100px;
    background: url("../img/interface/setting.png");
    border: none;
}
#exit3 {
    width: 300px;
    height: 100px;
    background: url("../img/interface/exit.png");
    border: none;
}
