body {
    margin: 0;
    padding: 0;
}

#esc_menu3 {
    display: none;
}

/* 캔버스 */
#screen3 {
    float: left;
    background: url("../backimg/stage3bg.jpg");
}

#gamestart3 {
    position: fixed;
    width: 300px;
    height: 50px;
    font-size: 20px;
}

/* 왼쪽 보스 */
#boss_UI3 {
    float: left;
    width: 200px;
    height: 600px;
}

/* 오른쪽 플레이어 */
#player_UI3 {
    float: left;
    width: 200px;
    height: 600px;
}

/* 플레이어 hp */
#player_state3 {
    margin-top: 100px;
}
/* 골드 */
#gold3 {
    margin-top: 100px;
}
/* 보스 hp */
#boss_bar3 {
    margin: 50px 90px;
}
#container3 {
    width: 20px;
    height: 300px;
    background-color: red;
}
/* 플레이어 스킬 */
#skill3 {
    margin-top: 70px;
    margin-left: 10px;
}

#skill3 div p {
    text-align: center;
    margin: 0;
    padding: 0;
}

#skill3 div {
    float: left;
}

#skill3 img {
    border: 1px solid black;
    margin: 5px;
}

#qtimer3 {
    border: 1px solid black;
    display: none;
    width: 50px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
}

#wtimer3 {
    border: 1px solid black;
    display: none;
    width: 50px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
}

#etimer3 {
    border: 1px solid black;
    display: none;
    width: 50px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
}

.character {
    /* position: absolute; */
    position: relative;
    top: 20px;
    left: 10px;
}