body {
    margin: 0;
    padding: 0;
}

#screen1 {
	border: 1px solid black;
    position: fixed;
    top: 0;
}

#gamestart1 {
    position: fixed;
    width: 300px;
    height: 50px;
    font-size: 20px;
}

#boss_UI1 {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 200px;
    height: 600px;
}

#player_UI1 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: fixed;
    width: 200px;
    height: 600px;
}

#player_state1 {
    text-align: center;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
}

#boss_bar1 {
    position: absolute;
    top: 200px;
    left: 90px;
    height: 300px;
    width: 20px;
}

#container1 {
    width: 20px;
    height: 300px;
    background-color: red;
}

#skill1 {
    position: absolute;
    top: 500px;
    left: 75px;
}

#skill1 div p {
    text-align: center;
    margin: 0;
    padding: 0;
}


#skill1 img {
    border: 1px solid black;
    margin: 5px;
}

#qtimer1 {
    border: 1px solid black;
    display: none;
    width: 50px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
}

.character {
    position: absolute;
    top: 20px;
    left: 10px;
}

#gold1 {
    position: absolute;
    top: 430px;
    left: 75px;
}

#esc_menu1 {
    
    display: none;
}