@font-face{
    font-family: 'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2')
    format("woff");
  }

body {
    margin: 0;
    padding: 0;
    background-size: cover;
}


#boss_UI1 {
    margin: 0;
    width: 1000px;
    height: 50px;
}

#boss_img1 {
    position: relative;
    float: left;
    top: 0;
    left: 0;
}

#boss_bar1 {
    float: left;
}


#player_UI1 {
    width: 1000px;
    height: 150px;
    background: url("../img/interface/player_bar.png");
}

#player_img1 {
    position: relative;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 20px;
}

#player_state1 {
    margin-top: 15px;
    position: relative;
    float: left;
    height: 50px;
}

#container1 {
    width: 948px;
    height: 15px;
    background-color: red;
    border-image: url("./img/interface/bar.png") 27;
    border-radius: 5px;
    border: 1px gray solid;
}

#bp_num1 {
    width: 940px;
    height: 20px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

#skill1 {
    float: left;
    height: 100px;
    width: 270px;
}

#skill1 div {
    width: 70px;
    height: 30px;
    float: left;
}

#skill1 div:nth-of-type(1){
    margin-left: 15px;
    margin-right: 15px;
}

#skill1 div:nth-of-type(3){
    margin-left: 15px;
    margin-right: 15px;
}

#qtimer1 {
    border: 1px solid black;
    display: none;
    width: 50px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
}


 #gold1 {
    width: 50px;
    height: 50px;
    float: left;
}

#esc_menu1 {
    
    display: none;
}
#play1 {
    width: 179px;
    height: 49px;
    background: url("../img/interface/esc_play.png");
    border: none;
}
#set1 {
    width: 289px;
    height: 43px;
    background: url("../img/interface/settings_289x43.png");
    border: none;
}
#exit1 {
    width: 160px;
    height: 51px;
    background: url("../img/interface/esc_exit.png");
    border: none;
}