body {
    margin: 0;
    padding: 0;
    background-size: cover;
}

#screen1 {
    float: left;
}

#gamestart1 {
    position: fixed;
    width: 300px;
    height: 50px;
    font-size: 20px;
}

#boss_UI1 {
    float: left;
    width: 200px;
    height: 600px;
}

#player_UI1 {
    float: left;
    width: 200px;
    height: 600px;
}

#player_state1 {
    margin-top: 100px;
}

#boss_bar1 {
    margin: 50px 90px;
}

#container1 {
    width: 20px;
    height: 300px;
    background-color: red;
}

#skill1 {
    margin-top: 70px;
    margin-left: 10px;
}

#skill1 div p {
    text-align: center;
    margin: 0;
    padding: 0;
}


#skill1 img {
    border: 1px solid black;
    margin: 5px;
}

#qtimer1 {
    border: 1px solid black;
    display: none;
    width: 50px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
}

.character {
    position: absolute;
    top: 20px;
    left: 10px;
}

#gold1 {
    margin-top: 100px;
}

#esc_menu1 {
    
    display: none;
}

#boomImg1{
    position: relative;
    top: 40px;
    left: 40px;
}